/* Core Style  */

body {
    margin:0;
    font-family: Nunito;
    /* background: radial-gradient(to top, #333333 0%, #130043 100%); */
    color: white;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    background: -moz-radial-gradient(center, ellipse cover, rgba(30,0,107,1) 0%, rgba(15,0,53,1) 50%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(30,0,107,1)), color-stop(50%, rgba(15,0,53,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(30,0,107,1) 0%, rgba(15,0,53,1) 50%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(30,0,107,1) 0%, rgba(15,0,53,1) 50%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(30,0,107,1) 0%, rgba(15,0,53,1) 50%, rgba(0,0,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(30,0,107,1) 0%, rgba(15,0,53,1) 50%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E006B', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    
}

hr {
    width: 75%;
    color: #130043;
    height: .25em;
    background-color: #130043;
    filter: drop-shadow(0 0 5px lightgray);
}

h2 {
    font-family: 'Merienda One', cursive;
  } 

/* ********************************* Navbar ******************************************** */
#nav {
    display: flex;
    height: 10vh;
    width: 100%;
    background: #0A0025;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    opacity: 0.6;
}


#nav a{
    height: 40%;
}

#nav img {
    height: 100%;
    /* filter: drop-shadow(0 0 2px #130043); */
    
}

.img6 {
    padding-right: 1em;
    
}

.img5 {
    padding-right: 1em;
}

.img4 {
    padding-right: 1em;
}

.img3 {
    padding-right: 1em;
}

.img2 {
    padding-right: 1em;
}








/* ***********************************Top Section******************************************* */


h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

/* .btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    border-radius: 15px;
    margin: .5em 0;
    
}

.btn:hover {
    background: #eaeaea;
    color: #333;
} */

/* Header */
#top {
    height: 100vh;
    min-height: 450px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
    color: #fff;
    text-align: center;
    position: relative;
    /* margin-bottom: 2em; */
    
}

#top .bg-image {
    position: absolute;
    background: #333 url('./assets/img/pexels-photo-546819.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
    box-shadow: 0px 0 2em .5em #333 inset;
}

#top h1 {
    padding-top: 40%;
    padding-bottom: 0;
    color: #CF5300;
    font-family: 'Merienda One', cursive;
    font-size: 1.5em;
    letter-spacing: 4px;
    
}

#top p {
    letter-spacing: 5px;
    font-size: .75em;
}

#top h2 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 5px;
    font-size: 1em;
    padding-top: 0;
}

#top .content-wrap
#section-a .content-wrap {
    padding: 0 1.5em;
}




/* Section 1 ***********************Eleven Fifty Projects Title******************************** */
#section-a {
    color: white;
    padding-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

#section-a h2 {
    color: #CF5300;
}



/* *******************************New Projects Section* ************************************/


#cards h2 {
   
    border: 2px solid #CF5300;
    /* width: 200px; */
    padding-left: 5px;
    padding-right: 5px;
   
}

.card {
    transition: all 0.5s;
    justify-content: center;
    width: 200px;
    margin: auto;
    margin-bottom: 2em;
    
    
}

.card a {
    text-decoration: none;
    color: white;
}

.card:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.1);
    
 }

 #cards h2:hover {
     border: 2px solid lightgray;
     /* filter: drop-shadow(0 0 2px lightgray); */
 }















/* **********************************************Technologies & Skills********************* */
#section-tech {
    margin-top: 2em;
   
    }

 #section-tech .content-text {
        margin-left: 1em;
        margin-right: 1em;
}

#section-tech h2 {
    color: #CF5300;
    padding-top: 1em;
}

#tech1 li {
    text-align: left;
    
}

#tech2 li {
    text-align: left;
}

#skills {
    margin-bottom: 3em;
    
    /* margin-left: 8em;
    margin-right: 8em; */
}

#tech1, #tech2 {
    list-style-type: none;
    padding:0;
    margin-left: 1em;
    margin-right: 1em;
}


/* ************************Learning Path********* */
.skills-queue  {
    line-height: 1;
}

.supp-learning {
    line-height: 2;
    margin-right: 1em;
    margin-left: 1em;
}

#section-lp h2 {
    color: #CF5300;
}

#section-lp {
    margin: 2em 1em;
}

#section-lp .content-wrap {
    margin-left: 1em;
    margin-right: 1em;
}

#section-queue {
    margin: 2em 1em;
   
}

#section-queue h2 {
    color: #CF5300;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #CF5300;
    border-radius: 50%;
    display: inline-block;
    filter: drop-shadow(0 0 1px #130043);
  }

/* post-its*********** */



.post-it {
    font-family:arial,sans-serif;
    font-size:100%;
    /* margin:3em; */
    /* background:#333; */
    color:#fff;
    margin-bottom: 4em;
  }

  .post h2, p{
    font-size:100%;
    font-weight:normal;
  }

  .post li p{
    /* list-style-type:none; */
    justify-content: center;
    font-family:"Reenie Beanie",arial,sans-serif;
  }

  .post {
    overflow:hidden;
    padding:1em;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
   
  }

  .post li {
    list-style-type: none;
}

  .post li a{
    text-decoration:none;
    color: white;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    opacity: .7;
    box-shadow: 5px 5px 7px rgba(19, 0, 67,.2);
    -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
    -moz-transition:-moz-transform .15s linear;
   -o-transition:-o-transform .15s linear;
   -webkit-transition:-webkit-transform .15s linear;
  }

  .post li{
    margin:1em;
    /* float:left; */
  }

  .post li h2{
    font-size:150%;
    line-height: 1;
    font-weight:bold;
    padding-bottom:5px;
    font-family:"Reenie Beanie",arial,sans-serif;
  }

  .post li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
    padding-bottom: 5px;
  }

  .post li:nth-child(1n) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    /* position:relative; */
    top:5px;
    background:#CF5300;
  }

    .post li:nth-child(2n) a{
      
      -o-transform:rotate(-3deg);
      -webkit-transform:rotate(-3deg);
      -moz-transform:rotate(-3deg);
      /* position:relative; */
      top:5px;
      background:#CF5300;
    }
  
  .post li:nth-child(3n) a{
    -o-transform:rotate(4deg);
      -webkit-transform:rotate(4deg);
      -moz-transform:rotate(4deg);
    /* position:relative; */
    top:-5px;
    background: #CF5300;
  }

  .post li:nth-child(4n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    /* position:relative; */
    top:-10px;
  }

 
  .post li a:hover,ul li a:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    /* position:relative; */
    z-index:5;
  }


/* *****************About Me Section*******************************/

#section-c {
    /* background: #fff; */
    /* background-color: rgba(42, 13, 135, 0.1); */
    color: white;
    /* padding: 2em; */
    margin: 2em 1em 1em 1em;
    /* height: 100vh; */
    
}


#section-c .headshot {
    width: 150px;
    height: 200px;
    border-radius: 10%;
    /* margin: auto; */
    background: #333 url('./assets/img/photo2 (2).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    margin: auto;
    box-shadow: 0px 0 1em .5em white inset;
}



/*  Interests & Education ****************************** */



#interests li {
    text-align: left;
    margin-right: 1em;
}

.education {
    line-height: 1.5;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.int-ed {
    margin-top: 1em;
    margin-bottom: 1em;
}

.int-ed h3 {
    font-family: 'Merienda One', cursive;
}







/* Footer */
#main-footer {
    position: absolute;
    background: #333 url('./assets/img/keyboard.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 5vh;
    z-index: -1;
    opacity: 0.3;
    box-shadow: 0px 0 2em .5em #333 inset;
    align-items: center;
    font-size: 14px;
    }

    #main-footer p {
        text-align: center;
        color: white;
    }



/* media queries **************************************************** */

@media(min-width: 640px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }


/* navbar *********************************************************** */


#nav {
        display: flex;
        height: 10vh;
        /* background: #130043; */
        /* float: right; */
        overflow: hidden;
        justify-content: left;
        align-items: center;

    }

/* #nav a {
    text-decoration: none;
} */



    .img6 {
        padding-right: 1em;
        padding-left: 1em;
    }

 
/* ************************************************************* */

#top {
    margin-left: 0;
    margin-right: 0;
}


#top h1 {
    padding-top: 15%;
    /* font-family: 'Merienda One', cursive; */
    font-size: 2.5em;
}

#top p {
    font-size: 1.5em;
    letter-spacing: 5px;
}


#top h2 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 5px;
    font-size: 2em;
    padding-top: 0;
}




#section-a .content-text h4 {
        padding-top: 0;
    }

    .content-wrap
    {
        grid-column: 1 / 5;
    }

    #section-a .content-title {
        font-family: 'Merienda One', cursive;
    }

    #section-a {
        margin-top: 2em;
    }

 

   



      /******************** New Projects Section*************************** */



   
   
    /* #card1 {
        grid-row: 1 / 2;
    }

    #card2 {
        grid-row: 1 / 2;
    }

    #card3 {
        grid-row: 2 / 3;
    }

    #card4 {
        grid-row: 2 / 3;
    } */


    /* technologies & skills *************************************/
  #section-tech h4 {
      margin-left: 3em;
      margin-right: 3em;
  }

    #skills {
        display: grid;
        grid-template-columns: auto 1fr 1fr auto;
        /* grid-auto-rows: auto auto auto; */
        justify-content: center;
        margin-top: 0;
        margin-left: 2em;
        margin-right: 2em;
    }
    
    #skills h2 {
        grid-column: 1 / 5;
        /* grid-row: 1 / 2; */
    }

    #skills p {
        grid-column: 1 / 5;
        /* grid-row: 2 / 3; */
    }

    #skills #tech1 {
        grid-column: 2 / 3;
        /* grid-row: 3 / 4; */
        justify-self: center;
        
        
    }

    #skills #tech2 {
        grid-column: 3 / 4;
        /* grid-row: 3 / 4; */
        /* direction: rtl; */
        justify-self: center;
    } 

    /* *********Learning Path************************************ */
    .grid-lp {
        display: grid;
        /* grid-template-columns: auto auto auto auto; */
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
        margin-left: 3em;
        margin-right: 3em;
    }

    #section-lp h4 {
        margin-left: 3em;
        margin-right: 3em;
    }


    .skills-queue {
        grid-column: 2 / 4;
    }

    .supp-learning {
        grid-column: 2 / 4;
        
    }

    

    /*  learning path********** */
    .post {
        /* overflow:hidden; */
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
        grid-auto-rows: 1fr;
        grid-auto-flow: row;
        grid-gap: 1em;
        margin: auto;
        justify-items: center;
       }

    .post li a {
        margin: 0;
    }

    




      /* *******************About Me Section */
      #section-c {
        margin: 3em;
      }

      .content-title {
          padding-bottom: 2em;
      }

      #section-c #grid2{
        display: grid;
        grid-template-columns: auto-fit, (auto 500px auto);
        justify-content: center;
    }

    #section-c .headshot{
        width: 200px;
        height: 250px;
        border-radius: 10%;
        /* margin: auto; */
        background: #333 url('./assets/img/photo2 (2).jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        margin-right: 1em;
        margin-left: 1em;
        box-shadow: 0px 0 1em .5em white inset;
    }

   
    #section-c .first {
        margin: 0;
    }

    #section-c .second {
        margin: 0;
        text-align: center;
    }


    .content-wrap h2 {
        grid-column: 1 / 4;
    }




    /* Interests & Education */

    .int-ed {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 50em));
        grid-auto-rows: 1fr;
        grid-auto-flow: row;
        grid-gap: 3em;
        margin-bottom: 2em;
        margin-left: 3em;
        margin-right: 3em;
        /* justify-content: center; */
    }

    #interests {
        grid-column: 1 / 2;
        justify-self: center;
        padding-right: 1em;
    }

  

    .education {
        grid-column: 2 / 3;
        justify-self: center;
    }



    /* Footer ******************************** */
    .box, #main-footer div {

    }

  }


  @media(min-width: 540px) {
    /* .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    } */

    #cards  {
        display: grid;
        padding-bottom: 0;
        grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
        grid-auto-rows: 1fr;
        grid-auto-flow: row;
        grid-gap: 2em;
        margin: auto;

        justify-content: center;
        /* margin-left: 3em;
        margin-right: 3em; */
        
    }

    
    
  
  

}